.user-account{
    margin-top:2em;
}
.avatar-change .btn-change-avatar{
    margin-top:0.9em;
}
.avatar-change,.account-avatar{
    text-align: center;
}
.account-avatar img{
    width:138px;
    height:138px;
}
.avatar-change p{
    color: #777;
    margin-top:12px;
}

.user-setting-general{
    padding-bottom: 20px;
}
.user-setting-general h3{
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}
.user-setting-general ul{
    list-style: none;
}
.user-setting-general .user-setting-list{
    padding: 0 12px;
}
.user-setting-general .user-setting-item{
    padding: 5px 0;
}
#avatar .avatar {
    margin: 2px auto;
    width: 80px;
    z-index: 6;
    margin-top: -90px;
    opacity: 0;
    height: 32px;
}