.user-account{
    margin-top:2em;
}
.avatar-change .btn-change-avatar{
    margin-top:0.9em;
}
.avatar-change,.account-avatar{
    text-align: center;
}
.account-avatar img{
    width:138px;
    height:138px;
}
.avatar-change p{
    color: #777;
    margin-top:12px;
}
.modal-backdrop.fade{
    display: none;
}

.user-setting-general{
    margin-top:12px;
    padding-bottom: 20px;
}
.user-setting-general h3{
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}
.user-setting-general ul{
    list-style: none;
}
.user-setting-general .user-setting-list{
    padding: 0 12px;
}

.user-setting-general .user-setting-item{
    padding: 5px 0;
}
#avatar .avatar {
    margin: 2px auto;
    width: 80px;
    z-index: 6;
    margin-top: -80px;
    opacity: 0;
    height: 32px;
}
.ac-github{
    margin-right: 12px;
    font-size: 22px;
}
.ac-google{
    color: #e03d37;
    margin-right: 12px;
    font-size: 22px;
}
.ac-weibo{
    color: #F2711C;
    margin-right: 12px;
    font-size: 22px;
}
.ac-qq{
    color: #15a7f0;
    margin-right: 12px;
    font-size: 22px;
}
.tag {
    display: inline-block;
    padding: 0 8px;
    color: #017E66;
    background-color: rgba(1, 126, 102, 0.08);
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin-right: 12px;
    font-weight: bold;
}