@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 100;
    padding: 190px 0 155px 0;
    background: url(/images/mypage/bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.navbar-fixed-top {
    background-color: transparent;
!important;
}

.navbar-default {
    border: none !important;
}

.navbar-default .navbar-brand {
    margin-top: 12px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600 !important;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ccc;
    background-color: transparent;
}

h1.home-title {
    font-size: 46px;
    line-height: 54px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

p.home-subtitle {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
    font-family: 'Monaco', 'Lucida Console', monospace;
}

.btn-white-transparent {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-white-transparent:hover {
    color: #454545;
    background-color: #fff;
    border-color: #fff;
}

.section-one {
    min-height: 640px;
    padding: 80px 0;
}

.section-one .title {
    line-height: 1.2;
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.section-one .intro {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
    color: #657786;
}

.section-one .feature-box {
    text-align: center;
    margin-bottom: 30px;
    animation-delay: 1.5s;
    animation-name: fadeInUp;
}

.section-one .feature-box .inner {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: solid 1px #e5e5e5;
    border-bottom: solid 2px;
    border-bottom-color: #33abdb;
}

.feature-box .inner .front {
    padding: 60px 0 60px 0;
}

.feature-box .inner .front .icon-img {
    position: inherit;
    float: none;
    display: inline-block;
    margin-bottom: 20px;
    border: none;
    font-size: 60px;
    background: none;
    padding: 0px;
    color: #33abdb;
}

.feature-box .inner .front .front-title {
    font-weight: 500 !important;
}

.feature-box .inner .front span {
    color: #657786;
}

.feature-box .inner .info {
    position: absolute;
    vertical-align: middle;
    padding: 60px 30px 60px 30px;
    background-color: #33abdb;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 200;
    height: 100%;
    top: 100%;
    line-height: 24px;
}

.site-footer {
    z-index: 900;
    background-color: #2f3539;
    border-top: 1px solid #393f43;
    padding: 55px 0;
    font-weight: 300;
}

.site-footer p {
    font-size: 16px;
    color: #cecece;
}

.site-footer p a {
    font-size: 16px;
    color: #34b1c4;
    text-decoration: none;
}

.navbar-fixed-top.opaque .navbar-right li a {
    color: #66757f !important;
}

.navbar-fixed-top.opaque {
    min-height: 76px;
    background: rgba(255, 255, 255, 0.90);
    border-bottom: solid 1px #ddd;
    transition: background-color 1s ease 0s;
}

.navbar-fixed-top.opaque .navbar-brand {
    color: #1da1f2;
}

.section-two {
    padding: 80px 0 100px;
    background-repeat: no-repeat;
    background-color: #fbfbfb;
}
.section-two .case-lists{
    animation-delay: 1.5s;
}
.case-lists .box-item {
    display: block;
    margin: 0 auto 30px;
    border-radius: 3px;
    display: block;
    height: 200px;
    color: #fff;
    position: relative;
    text-align: center;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.case-lists .box-item .content {
    height: 36px !important;
    padding: 0 !important;
    text-align: center;
    border-radius: 0 0 3px 3px;
    width: 100%;
    height: 55px;
    z-index: 2;
    text-align: left;
    padding: 10px 10px 0 10px;
    border-radius: 0 0 5px 5px;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    position: absolute !important;
    bottom: 0;
}

.section-two .title {
    line-height: 1.2;
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 14px;
    font-weight: 400;
}

.case-lists .box-item .content p {
    margin: 0;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 2px;
}

.case-lists .box-item .case-box {
    display: block;
    height: 180px;
    margin: 0 auto;
    border-radius: 3px;
    color: #fff;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-three {
    position: relative;
    overflow: hidden;
    background-color: #fbfbfb;
}

.section-three .container {
    padding: 80px 0;
    max-width: 1000px;
}

.section-three .video-banner {
    position: relative;
}

.section-three .video-banner .video-mask {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.video-banner .video-mask .video-responsive {
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;
}

.section-three .video-banner .banner-content {
    position: absolute;
    z-index: 11;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
}

.video-banner .banner-content .slogan {
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.video-banner .banner-content .title {
    font-size: 40px;
    margin-bottom: 90px;
    letter-spacing: 2px;
}

.section-four {
    background-color: #393f43;
    color: #bbb;
}

.section-five {
    background: url("/images/mypage/bg_banner.jpg") top fixed;
    background-size: cover;
    color: #eee;
    padding: 90px 0 90px 0;
}

.small-border {
    height: 1px;
    width: 120px;
    background: #ccc;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #33abdb;
    animation-delay: 0.5s;
}

.soul-lists {
    position: relative;
    width: 100%;
}

.soul-lists .soul-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.de_testi {
    display: block;
    margin-bottom: 10px;
}
.de_testi blockquote {
    color: #eceff3;
}
.de_testi blockquote p {
    font-size: 13px;
    line-height: 1.6em;
    font-weight: 400;
}
.de_testi blockquote::before {
    font-family: FontAwesome;
    content: "\f10d";
    padding-bottom: 10px;
    font-size: 20px;
    display: block;
    color: #33abdb;
}
.de_testi blockquote {
    margin: 0;
    border: none;
    padding: 20px 30px 30px 30px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-size: 13px;
    background: rgba(0,0,0,0.2);
    font-style: normal;
    line-height: 1.6em;
    font-weight: 400;
}
.section-six{
    padding: 90px 0 90px 0;
}
.section-six .tech-title{
    margin-bottom: 20px;
}
.section-six .tech-lists{

}
.tech-lists .tech-item{
    text-align: center;
}
.tech-lists .tech-item .skill-name{
    color: #4e555e;
    font-weight: 400;
    margin-bottom: .8em;
    font-size: 20px !important;
}
.tech-lists .tech-item  .h-divider {
    width: 80px;
    height: 1px;
    display: block;
    margin: 0 auto 10px;
    background: #f0f0f0;
}
.section-four .footer-nav {
    padding: 30px 0 10px;
    margin-left: 0;
    margin-bottom: 0;
}

.section-four .footer-nav dt {
    color: #d9d9d9;
    margin-bottom: 20px;
    font-size: 20px;
}

.section-four .footer-nav dd {
    margin-bottom: 18px;
}

.section-four .footer-nav dd a {
    color: #777;
    font-size: 16px;
}

.site-footer .scroll-back-to-top{
    position: fixed;
    bottom: 60px;
    right:40px;
}
.site-footer .scroll-back-to-top button{
    padding: 10px 18px 12px;
    font-size: 20px;
    font-weight:bold;
}