body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/mypage/back-img.jpeg);
}

.left-part {
    position: absolute;
    margin-left: 0;
    top: 60px;
    bottom: 60px;
    width: 440px;
    border-right: 1px solid #efefef;
    /*border-right: 1px solid rgba(34, 36, 38, 0.14902);*/
    /*border: 1px solid red;*/
}

.my-avatar {
    position: relative;
    /*border: 1px solid blue;*/
    width: 280px;
    margin: 20px auto;

}

.my-avatar img{
    cursor: pointer;
    transition: all 1.5s;
}

.my-avatar img:hover{
    transform: rotate(360deg);
}

.avatar-img {
    position: relative;
    margin-top: 10px;
    margin-left: 40px;
    width: 200px;
    height: 200px;
}

.my-name {
    width: 360px;
    /*border: 1px solid blue;*/
    margin: 20px auto;
    text-align: center;
}

.name {
    font-size: 40px;
    color: #fff;
}

.my-github{
    width:360px;
    margin:40px auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}
.my-email{
    width:360px;
    margin:20px auto;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}
.my-weibo{
    width:360px;
    margin:20px auto;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}
.my-github a{
    text-decoration: none;
    color: #fff;
}
.my-email a{
    text-decoration: none;
    color: #fff;
}

.my-weibo a{
    text-decoration: none;
    color: #fff;
}

.right-part{
    width:340px;
    float: right;
    margin-right:0;
    margin-top:80px;
    margin-bottom: 80px;
    /*border: 1px solid red;*/
}
.right-part ul{

}
.right-part ul li{
    list-style-type: none;
    /*display: block;*/
    font-size: 24px;
    padding: 16px 20px;
    border-bottom: 1px solid #fff;
}
.right-part ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #fc0;
}
.web-navbar{
    width: 100%;
    margin-top: 240px;
}
