.search-title{
    border-bottom: 2px solid #d9d9d9;
    font-size: 18px;
    overflow: auto;
}
.search-title .collection-nav{
    list-style: none;
    margin: 0;
    border-bottom: none;
    text-align: center;
}

.search-title > ul .active{
    /*margin-bottom: -2px;*/
    border-bottom: 2px solid #555;
}

.collection-nav li{
    font-weight: bold;
    float: left;
    line-height: 30px;
    margin-right:10px;
}

.collections-list li:hover{
    /*border-bottom: 2px solid #555;*/
    color: red;
}

.collection-nav li a{
    cursor: pointer;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

.collections-list{
    margin:10px 24px 10px;
}
.collections-list ul{
    list-style: none;
}
.collections-list >ul li{
    padding: 15px 80px 10px 0px;
    border-bottom: 1px dashed #d9d9d9;
}

.collections-list ul li .avatar{
    float: left;
    width: 40px;
    height: 40px;
}

.collections-list .avatar img{
    width: 100%;
    height:100%;
}

.collections-list .collection-info{
    margin-left: 54px;
    display: block;
}

.collections-list .description{
    padding-right: 40px;
    margin-bottom: 3px;
    font-size: 14px;
    color: #b3b3b3;
}

.collection-info .title{
    font-size: 24px;
}
.collection-info .publish-info{
display: inline-block;
}
.collection-info .title a{
    color: #4b4b4b;
}
.collection-info .tags{
    float: right;
    display: inline-block;
}

.collections-list .reply-media{
    display: block;
    float: right;
}
.collections-list  .reply-info{
    font-size: 1.1em;
    color: #a7b3c2;
    margin-top: 2px;
    display: block;
}

.collections-list .reply-info a{
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    color: #4b4b4b;
    font-size: 24px;
    line-height: 1;
    margin-bottom: -1px;
    font-weight: 700;
}