/*------------------------------    common.app    ------------------------------*/
body {
    /*font-family: Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;*/
    line-height: 1.5;
    overflow-y: scroll;
}
.navbar {
    margin: 0px;
    border-radius: 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    border-top-width: 0;
}

.search-icon:hover{
    cursor: pointer;
}
.search-label {
    width: 320px;
    border-radius: 50%;
    /*margin-left: 20px;*/
}

.search-input {
    float: left;
    width: 280px !important;
    border-radius: 0;
    border-right: 1px solid transparent;
}

.search-btn {
    background-color: #00b1b3;
    float: left;
    padding: 4px 12px;
    height: 34px !important;
    width: 34px !important;
}
.search-btn:focus{
    background-color:#007f80;
    border-color: transparent;
}
.search-btn:hover{
    background-color:#007f80;
    border-color: transparent;
}
.search .form-group{
    width:240px;
    transition:width 0.5s ease-in;
}
.search .form-group:hover{
    width:320px;
}

.navbar-form{
    padding-right: 0;
}
@media (max-width: 980px){
    .search .form-group{
        display: none;
    }
    .footer{
        /*position: absolute;
        bottom: 0;
        width:100%;*/
    }
}


/*@media screen and (max-width: 1300px){
    .search >.form-group {
        width:200px !important;
    }
}*/

.message-info{
    cursor: pointer;
    margin-right: -5px;
}
.message-info .badge{
    background-color: #DB2828;
}
.footer {
    display: block;
    background: #282828;
    color: #fff;
    padding: 35px 20px;
    border-top: 1px solid #eee;
    margin-top: 0px;
    text-align: center;
    min-height: 360px;
}
.footer .scroll-back-to-top{
    position: fixed;
    bottom: 60px;
    right:40px;
}
.footer .scroll-back-to-top button{
    padding: 10px 18px 12px;
    font-size: 20px;
    font-weight:bold;
}
.footer ul {
    font-size: 16px;
    color: #343434;
    font-weight: 400;
}

.footer ul li {
    display: inline-block;
    margin: 0 18px;
}

.site-link {
    margin: 0px 0px 40px;
}

.site-link dt {
    margin-bottom: 20px;
    font-size: 1.4em;
}

.site-link dt a {
    text-decoration: none;
    color: #fff;
    /*color: #343434;*/
}

.site-link dd {
    margin: 5px 0;
    font-size: 14px;
}

.site-link dd a {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.footer-bottom {
    margin-top: 10px;
    padding-top: 10px;
    /*color: #111;*/
    color: #fff;
    border-top: 1px solid #ddd;
}
.footer-bottom>a{
    color: #fff;
    /*color: #000;*/
}

.fa-mr {
    margin-right: 12px;
}


/*------------------------------    users.userLogin    ------------------------------*/

.login-form {
    max-width: 560px;
    margin: 60px auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 34px 24px;
    padding-top: 0px;
}

.tabs {
    text-align: center;
    border-bottom: 0;
    font-size: 20px;
    margin: 20px -30px 20px -30px;
    padding-left: 30px;
    padding-right: 30px;
}
.pass-tabs{
    text-align: center;
    border-bottom: 0;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    /*border-bottom: 1px solid #555;*/
}
.pass-tabs a{
    color: #4A90E2;
    text-decoration: none;
}

.tabs a {
    text-decoration: none;
}

.tabs a:hover {
    color: #4A90E2;
}

.tabs_tab {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 20px;
    margin-bottom: -2px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
}

.tabs_tab_active {
    border-bottom: 2px solid #4A90E2;
    color: #4A90E2;
    cursor: default;
}

.remember-login {
    height: 32px;
}

.login-check {
    margin-top: 6px;
}

.forget-pass {
    margin-top: 6px;
    color: #999;
}

.forget-pass:hover {
    color: #747474;
}
.login-submit{
    width:100%;
}
.register-submit{
    width:100%;
}
.captcha-input {
    width: 55%;
    margin-right: 40px;
    float: left;
}

.quick-login-div{
    border-top: 1px solid #eee;
    padding-top: 12px;
    text-align: center;
}
.quick-login {
    width:100%;
    color: #777;
    font-size: 18px;
    margin-bottom: 8px;
}
.login-sns{
    margin-bottom: 10px;
    padding-left: 0;
}
.login-sns li{
    display: inline-block;
    line-height: 20px;
}
.login-sns li>a{
    width: 44px;
    height: 44px;
    display: inline-block;
    border-radius: 50%;
    line-height: 44px;
    font-size: 20px;
    border:none;
    /*background: #eeeeee;*/
}
.login-sns li.weibo a{
     color: #fff;
     background-color: #F2711C;
 }
.login-sns li.weibo a:hover{
    color: #fff;
    background-color: #f26202;
}
.login-sns li.weixin a{
     color: #fff;
    background-color: #21BA45;
 }
.login-sns li.weixin a:hover{
    color: #fff;
    background-color: #16ab39;
}
.login-sns li.github a{
    color: #fff;
    background-color: #1B1C1D;
}
.login-sns li.github a:hover{
    color: #fff;
    background-color: #27292a;
}
.login-sns li.google a{
    color: #fff;
    background-color: #e03d37;
}
.login-sns li.google a:hover{
    color: #fff;
    background-color: #d01919;
}
.login-sns li.qq a{
    color: #fff;
    background-color: #15a7f0;
}
.login-sns li.qq a:hover{
    color: #fff;
    background-color: #1678c2;
}
.icon-login {
    display: inline-block;
    margin-left: 14px;
    padding: 2px 4px;
}
.login-github {
    color: #fff;
    background-color: #000;
}


/*------------------------------   index   ------------------------------*/

.fl {
    float: left;
}

.fr {
    float: right;
}

.hero-header {
    background-image: url("/images/back.jpg");
    background-size: cover;
    background-position: 20%;
    background-position-x: 20%;
    background-position-y: center;
    padding: 40px 20px;
    height: 40vh;
    max-height: 420px;
    min-height: 300px;
    color: #fff;
    display: block;
    position: relative;
}
.hero-header .hero-bck{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: rgba(0,0,0,.5);
}
.hero-header-title{
    text-align: center;
}
.hero-header-title > p {
    margin-top:20px;
    font-size: 54px;
    font-weight: 600;
}


/*.img-circle {
    cursor: pointer;
}

.stream-list {
    padding: 30px 0;
    border-bottom: solid 1px #e7ecef;
    width: 100%;
}

.stream-list dt {
    padding: 0 20px;
    width: 150px;
    text-align: center;
    float: left;
}

.stream-list dt a {
    text-decoration: none;
    cursor: pointer;
}

.user-header {
    width: 60px;
    height: 60px;
    margin: 0 auto 6px;
}

.nickname {
    font-size: 12px;
    !*color: #333;*!
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.stream-list dd {
    border-left: solid 1px #ecf1f3;
    margin-left: 150px;
    padding: 0 20px;
}

.article-list_title {
    line-height: 24px;
    padding-bottom: 10px;
    margin-top: 0px;
}

.article-list_title a {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.article-list_content {
    font-size: 14px;
    line-height: 1.5em;
    color: #9ba6b5;
    display: block;
}

.article-list_footer {
    padding-top: 30px;
}

.tagsLabel {
    float: left;
}

.tagsLabel ul {
    padding-left: 0px;
}

.tagLabel {
    padding: 0px 6px;
    display: inline-block;
    color: #017e66;
    background-color: rgba(1, 126, 102, .08);
}

.others-info {
    font-size: 12px;
    color: #999;
}
.others-info em{
    color: #333;
}

.others-info label{
    margin-right: 20px;
}
.article_published_at{
    display: inline-block;
}
.article_view_count{
    display: inline-block;
    margin-right: 20px;
}
.article_comment_count{
    display: inline-block;
}


.weight-messages{
    margin-bottom: 18px;
    margin-top: 30px;
}
.weight-messages a{
    text-decoration: none;
    cursor: pointer;
}
.weight-messages_item{
    display: block;
    color: #666;
    padding: 6px 10px;
    margin-left: -10px;
    border-radius: 3px;
    text-decoration: none;
}*/

/*------------------------------   donate   ------------------------------*/
.donate-body{
    margin-bottom: 32px;
}
.donate-header{
    margin-top:26px;
    margin-bottom: 20px;
}
.donate-header p{
    font-size: 16px;
    color: #333;
}
.tab-content .donate-panel{
    padding: 20px;
    text-align: center;
}
.donate-panel img{
    display: inline-block;
    height: 360px;
    margin: 0 20px;
    max-width: 240px;
}
.nav-tabs li{
    cursor: pointer !important;
}