.video-list {
    padding-top: 36px;
}

.episode-wrap > td {
    padding: 14px 20px !important;
    vertical-align: middle;
    color: #3a3a3a;
}
.episode-wrap .episode-index > i {
    padding-right: 10px;
    color: #93999f;
    font-size: 16px;
    position: relative;
}

.episode-wrap .episode-index span {
    display: inline-block;
    position: relative;
    font-size: 16px;
}

.episode-outline .episode-index {
    width: 10%;
    text-align: center;
}

.episode-outline .episode-title {
    width: 60%;
    font-weight: 700;
    font-size: 16px;
}

.episode-wrap .episode-title i {
    margin-right: 10px;
}

.episode-outline .episode-title a {
    color: #3a3a3a;
    padding: 15px 20px !important;
}
.episode-outline .episode-title a:hover{
    color: #428bca;;
}
.episode-outline .episode-date {
    width: 30%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.episode-wrap .episode-date time {
    float: right;
    margin-right: 24px;
}

.episode-wrap .episode-date span {
    float: right;
}

.table-hover tbody .episode-wrap td:hover{
    cursor: pointer;
}

/************************************/
.video-info{
    width:100%;
    background-color: #222;
}

.video-info .video-series-name{
    width:100%;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
}
.video-info .series-description{
    color: #ddd;
    margin-bottom: 12px;
}

.video-info .video-clearfix{
    float: right;
    color: #fff;
}
.video-clearfix ul{
    padding-left: 0px;
}
.video-info .video-clearfix li{
    position: relative;
    display: inline-block;
    padding:0 36px;
    height: 48px;
    font-size: 12px;
    top: 6px;
}
.video-clearfix li .video-item-meta{
    opacity: .7;
    line-height: 12px;
    font-size: 14px;
}
.video-clearfix li .video-item-value{
    text-align: center;
    display: block;
    margin-top: 10px;
    opacity: .7;
    font-size: 16px;
    line-height: 16px;
}

.video-lesson{
    background: #393E46;
}
.video-lesson .video-wrap{
    padding: 20px 15px 40px;
    width: 88%;
    max-width: 1200px;
}
.video-wrap .video-container{
    background-color: #393E46;
    padding: 15px 16px;
    border-radius: 5px;
}
.video-container .video-show{
    display: block;
}
.video-show .video-catalog{
    margin-top:16px;
}
.video-catalog .video-button-list{
    float: right;
}
.video-button-list .ifPrev{
    display: none;
}
.video-button-list .ifNext{
    display: none;
}
.video-show .video-intro{
    color: #eee;
    font-size: 16px;
    margin-top:5px;
    margin-bottom: 12px;
}
.video-wrap .video-title{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.video-js .vjs-tech{
  /*  position: absolute;
    top: 0;
    left: 0;*/
    width: 100% !important;
    height: 100% !important;
}

#ispace-video:focus{
    cursor: pointer;
}
.video-js{
    vertical-align: middle;
    /*padding-top: 56.46%!important;*/
    padding-top: 56.23%!important;
    position: relative;
}

.vjs-has-started .vjs-control-bar {
    display: block;
}
/*.video-js .vjs-current-time, .vjs-no-flex .vjs-current-time {
    display: block;
}*/

.vjs-time-divider {
    float: left;
    font-size: 1.2em;
    line-height: 2.6em;
    text-align: center;
}
.video-js .vjs-time-control {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    font-size: 1em;
    line-height: 3em;
    min-width: 2em;
    width: auto;
    padding-left: 1px;
    padding-right: 1px;
}
.vjs-default-skin .vjs-current-time, .vjs-default-skin .vjs-duration,.vjs-time-divider {
    display: block;
    float: left;
}
.video-js .vjs-remaining-time{
    display: none;
}

.vjs-default-skin .vjs-progress-control {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    font-size: .9em;
    height: 1em;
    top: -1em;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.video-js .vjs-playback-rate{
    position: absolute;
    right: 3em;
    /*display: inline-block !important;*/
    /*position: relative;*/
    /*float: right;*/
}
.vjs-default-skin .vjs-menu-button ul li {
    background: #383e4c;
    list-style: none;
    margin: 0;
    padding: .3em 0;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
    text-transform: lowercase;
}
.vjs-menu-content li.aria-selected {
    background-color: #00adb5 !important;
}
.video-js .vjs-control:before {
    font-size: 1.8em;
    font-weight: bold;
}

.video-js .vjs-custom-control-spacer {
    /*display: block;*/
}
.video-js .vjs-fullscreen-control{
    /*position: relative;*/
    float: right;
}
.vjs-volume-bar.vjs-slider-horizontal {
    margin-top:12px;
    width: 7em;
    height: 0.5em;
}
.vjs-slider-horizontal .vjs-volume-level {
    height: 0.5em;
    margin-top:12px;
}
.vjs-slider-horizontal .vjs-volume-level:before {
     top: -0.2em;
     right: -0.5em;
 }
/*.vjs-menu-button-inline .vjs-menu,  .vjs-menu-button-inline.vjs-slider-active .vjs-menu {
    display: block !important;
    opacity: 1;
}*/

horizontal .vjs-menu-content, .vjs-volume-menu-button-horizontal .vjs-menu-content, .vjs-volume-menu-button-horizontal .vjs-slider-active .vjs-menu-content, .vjs-volume-menu-button-horizontal .vjs-lock-showing .vjs-menu-content {
    height: 2.9em;
    width: 8em;
}

.vjs-default-skin  .vjs-load-process{
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.4);
}
.video-js .vjs-load-progress {
    height: 100% !important;
}
.vjs-default-skin .vjs-progress-holder {
    height: 100%;
    margin:0;
}
.vjs-default-skin .vjs-play-progress {
    height: 100% !important;
    background: #66a8cc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQ…wcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat;
}
.video-js .vjs-play-progress:before {
    position: absolute;
    top: -1px;
    right: -0.5em;
    font-size: 0.9em;
}
.video-js .vjs-progress-control:hover .vjs-time-tooltip, .video-js .vjs-progress-control:hover .vjs-mouse-display:after, .video-js .vjs-progress-control:hover .vjs-play-progress:after {
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    font-size: 0.6em;
}

.video-js .vjs-progress-control:hover .vjs-mouse-display{
    display: none;
}
.vjs-default-skin .vjs-slider {
    outline: 0;
    position: relative;
    cursor: pointer;
    padding: 0;
    background-color: #333333;
    background-color: rgba(51, 51, 51, 0.9);
}
.vjs-default-skin .vjs-seek-handle {
    width: 1.5em;
    height: 100%;
}
.vjs-default-skin .vjs-slider-handle {
    position: absolute;
    left: 0;
    top: 0;
}
.vjs-default-skin .vjs-mute-control, .vjs-default-skin .vjs-volume-menu-button {
    /*position: relative;*/
    /*display: inline-block;*/
    cursor: pointer;
    float: left;
    margin-right:20px;
}
.vjs-default-skin .vjs-play-control {
    float: left;
    width: 5em;
    cursor: pointer;
}

/*
.vjs-menu-button-inline .vjs-menu, .vjs-menu-button-inline:focus .vjs-menu, .vjs-menu-button-inline.vjs-slider-active .vjs-menu {
    display: block;
    opacity: 1 !important;
}
*/
