body {
    /*background: #f0f2f5;*/
}
.container{
    margin-top: 4em;
}
.table-head{
    text-align: center;
    background-color: #fcf8e3 !important;
}
.table-head tr{
    background-color: #fcf8e3 !important;
}
.header-title {
    min-height: 45px;
    text-align: center;
    padding-top: 32px;
    margin-bottom: 24px;
}

.equal .column h2 {
    text-align: center;
}

.station-card {
    margin: 1em auto !important;
    width: 180px !important;
}
.example-a{
    position: absolute !important;
    top: 36px;
    right: 2em;
}
.example-b{
    position: absolute !important;
    top: 36px;
    left: 2em;
}
a.content{
    color: rgba(0,0,0,.87);
}
.extra-info{
    font-size: 12pt;
    font-weight: bold;
}
.extra-info .item{
    margin: 0.4em auto;
}
.extra-info span{
    margin-right: 1.2em;
}

.middle-div {
    width: 180px !important;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    margin: 0 auto 0.2em;
    position: relative;
}
.middle-div .div-time{
    width: 66px;
    text-align: center;
}
.middle-div .div-distance{
    width: 66px;
    text-align: center;
}
.station-card .content {
    text-align: center;
}
.content.route-name {
    background: #f2dede !important;
    text-align: center;
}
.content.team{
    background-color: #dff0d8;
    text-align: center;
}

.content.route-time {
    text-align: center;

}
.content.supply-site{
    background: #2185D0 !important;
    text-align: center;
}

.content.route-a {
    cursor: pointer;
    background-color: #d9edf7 !important;
    text-align: center;
}

.content.route-b {
    cursor: pointer;
    background-color: #FFF8DB !important;
    text-align: center;
}

.content .location {
    margin-bottom: 2px !important;
}

.content .location-time {
    font-size: .92857143rem;
    margin: 0.1em 0;
}
.mark{
    color: #ce4844;
}

.ui.card > .content {
    padding: 0.6em !important;
}
.choose-title{
    text-align: center !important;
}

@media (max-width: 50em) {
    .ui[class*="three column"].grid>.column:not(.row), .ui[class*="three column"].grid>.row>.column {
        width: 88.88888%;
    }
    .ui.three.column.grid>.column {
        width: 88.88888%;
    }
    .example-a,.example-b{
        width: 146px;
        position: relative !important;
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        margin: 1em auto !important;
        flex-direction: column;
        top:0;
    }
    .example-a{
        right: 0;
    }
    .example-b{
        left: 0;
    }
    .ui.grid>.row>.column{
        padding: 0 20px;
    }
    .middle-div {
        width: 146px !important;
    }
    .extra-info{
        font-size: 10pt;
        font-weight: bold;
    }
    .ui.grid.equal{
        margin: 0 !important;
    }
}